<!DOCTYPE html>
<html lang="en">

    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoreChat</title>
        <!-- Link to the CSS file -->
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div class="nav-tabs">
            <button>
                <a href="login.html">Login</a>
            </button>
            <button>
                <a href="register.html">Register</a>
            </button>
        </div>
        <div class="title">
            <h1>Corechat</h1>
        </div>
        <div class="information">
            <p><b>Welcome to my very project.This is my First project using Flask and python
                for backend and html css and javascript for frontend.</b></p>
        </div>
        <div class="Page">
            <h2>Expected Features</h2>
            <ul>
                <li>Python programming using object-oriented concepts wherever possible</li>
                <li>Basic documentation for requirements (using use-cases)</li>
                <li>Basic design document</li>
                <li>Web server and client implementation using REST API</li>
                <li>Works on a single machine</li>
                <li>Text interface</li>
                <li>Users can sign up, log in, log out, list existing users, see messages, and send new messages</li>
            </ul>

            <h2>Non-Requirements</h2>
            <ul>
                <li>No GUI interface</li>
                <li>No elaborate password-saving techniques; simply storing them in a file is sufficient</li>
            </ul>

            <h2>Additional Project Extensions (Optional)</h2>
            <ul>
                <li>Storing data in a database instead of a file</li>
                <li>Implementing HTTPS</li>
                <li>Group messaging</li>
                <li>Test cases (using pytest)</li>
            </ul>

            <h2>Learning Objectives</h2>
            <ul>
                <li>Documentation: requirements, design document, test cases</li>
                <li>Web server basics: HTTP, port, connection, etc.</li>
                <li>REST APIs</li>
            </ul>
        </div>
    </body>
</html>